{% block opheader %}
<section id="op-header-bg" class=""></section>
<section id="{{ section.content.id_2 }}" class="{{ section.content.class_2 }}"></section>
<section id="{{ section.content.id }}" class="container-fluid theme-showcase content gradient" role="main" id="top">
	<div class="row content text-center center-block">

		<h1 class="op-h-bordered wow fadeInLeft animated animated op-editable" data-wow-delay="0.3s">
			{{ section.content.data.h1 }}
		</h1>

		<h3 class="op-h-bordered wow fadeIn animated animated op-editable" data-wow-delay="1s">
			{{ section.content.data.h2 }}
		</h3>
		<div id="" class="arrow-block">
			<a href="{{ settings.menuFirstScroll.href }}"class="op-scrollable down-arrow"></a>
		</div>
	</div>
</section>

<script src="{{ asset('assets/main/js/wow.min.js') }}"></script>
<link href="{{ css }}" rel="stylesheet" />
<style>

</style>
<script>
$(function() {


	new WOW().init();

	$('a.op-scrollable[href^=#]').click(function(e) {
		e.preventDefault();

		var name = $(this).attr('href').substr(1);
		/**
		 var pos = $('#' + name).offset();
		 $('body,html').animate({scrollTop: pos.top}, 700, 'easeInQuart');
		 // alert(pos.top);
		 // alert('hey');
		 
		 **/
		$('#' + name).animatescroll();
		$('.collapse').collapse('hide')
		// Detect if pushState is available
		if (history.pushState) {
			history.pushState(null, null, $(this).attr('href'));
		}
		return false;
	});


});
</script>
{% endblock %}
