<header class="{{ section.content.class }}" id="top" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">{{ section.content.data.logo }}</a>
		</div>
		<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				{% for item in settings.menu %}
				<li class="{{ item.class }}">
					<a href="{{ item.href }}" class="">{{ item.label }}</a>
				</li>
				{% endfor %}
				
			</ul>
			<!--
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="">Sign Up</a></li>
			<li><a href="">Login</a></li>
		  </ul>
			-->
		</nav>
	</div>
</header>